body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fundo-tela {
    position: relative;
    height: auto;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    resize: both;
}
.cor-fundo {
    background-color: #A8A8A8 !important;
    color: white !important;
}

.sem-borda {
    padding: 20px;
    border: none !important;
}

.font-size-small{
    font-size: small !important;
}

.fundo-titulo {
    background-color: #6E6E6E !important;
    border: none !important;
    padding: 20px !important;
    margin: 20px !important;
    height: auto !important;
    width: auto !important;
    color: white !important;
    text-align: center;
}

.pre-titulo {
    color: #A8A8A8;
    font-size: small
}

.titulo {
    font-size: xx-large
}

.sub-titulo {
    font-size: small
}

.line {
    border-bottom: solid 3px #A8A8A8;
    width: 25px;
}
.panel-filme {
    background-color: white;
    color: black;
    border: solid 3px #A8A8A8;
    width: 25%;
    height: 100px;
    padding: 1%;
}

.panel-filme-selecionado {
    background: linear-gradient(#152B40, #152B40);
    color: white;
    border: solid 3px #A8A8A8;
    width: 25%;
    height: 100px;
    padding: 1%;
}

.titulo-filme {
    font-weight: bold;
    margin-bottom: 1%;
}

.ano-filme{
    font-size: 10px;
}

#btnCampeonato {
    float: right;
}

.classificacao {
    background-color: #6E6E6E !important;
    border: none !important;
    padding: 10px 10px 15px 10px !important;
    margin: 0% 0% 1% 20px;
    height: 3088880% !important;
    width: 30% !important;
    color: white !important;
    text-align: center;
    font-size: x-large;
}

.classificacao-titulo {
    background-color: white !important;
    border: none !important;
    padding: 16px 30px 20px 10px !important;
    margin: 0% 0% 1% 0%;
    height: 3088880% !important;
    width: auto !important;
    color: black !important;
}

.row-classificacao-titulo {
    margin-right: -45px !important;
}

.container {
    width: 100%;
}

container div.left {
        float: left;
        width: 20%;
        background: lightblue;
    }

container div.right {
        float: right;
        width: 80%;
        background: lightgray;
    }

container > div > .content {
        padding: 3px;
    }

div.json {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.fundo-error {
    background-color: #d9d9d9 !important;
    border: none !important;
    padding: 20px !important;
    margin: 20px !important;
    height: auto !important;
    width: auto !important;
    color: black !important;
    text-align: center;
}