@{
    ViewBag.Title = "Resultado Final";
    ViewBag.AngularApp = "CampeonatoApp";
    ViewBag.AngularController = "CampeonatoCtrl as vm";
}
<div class="fundo-tela cor-fundo" ng-init="">
    <header class="form-control fundo-titulo">
        <p class="text-uppercase pre-titulo">Campeonato de filmes</p>
        <p class="titulo">Resultado Final</p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p class="sub-titulo">Veja o resultado finaldo Campeonatode filmesde forma simples e rápida</p>
            </div>
            <div class="col-2"></div>
        </div>
    </header>

    <section class="form-control cor-fundo sem-borda">
        <div class="row">
            <div class="clearfix"></div>
            <article>
                <div>1º</div>
                <div>Titulo Filme</div>
            </article>
            <article>
                <div>2º</div>
                <div>Titulo Filme<</div>
            </article>
            <article>
                <div>3º</div>
                <div>Titulo Filme<</div>
            </article>
        </div>
    </section>

</div>
