@{
    

    ViewBag.Title = "Resultado Final";
    ViewBag.AngularApp = "CampeonatoApp";
    ViewBag.AngularController = "CampeonatoCtrl as vm";
}
<div class="fundo-tela cor-fundo" ng-init="">
    <header class="form-control fundo-titulo">
        <p class="text-uppercase pre-titulo">Campeonato de filmes</p>
        <p class="titulo">Resultado Final</p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <p class="sub-titulo">Veja o resultado finaldo Campeonatode filmesde forma simples e rápida</p>
            </div>
            <div class="col-2"></div>
        </div>
    </header>

    <section class="cor-fundo sem-borda">
        <article class="row row-classificacao-titulo">
            <div class="col-1 text-center classificacao">1º</div>
            <div class="col-10 classificacao-titulo">Titulo Filme</div>
        </article>
        <article class="row row-classificacao-titulo">
            <div class="col-1 text-center classificacao">2º</div>
            <div class="col-10 classificacao-titulo">Titulo Filme</div>
        </article>
        <article class="row row-classificacao-titulo">
            <div class="col-1 text-center classificacao">3º</div>
            <div class="col-10 classificacao-titulo">Titulo Filme</div>
        </article>
    </section>

    <div class="cor-fundo sem-borda">
        <input class="btn btn-dark text-uppercase font-size-small" type="button" title="Exibir JSON Completo" value="Exibir JSON Completo" />
    </div>
</div>
